a:hover{
background-color: white;
text-decoration: none;
}
a{
background-color: white;
text-decoration: none;
}
.log_up_btn{
margin-right: 30px;
margin-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 30px;
min-width: 100px;
}
.logo{
margin-left: 30px;
background:transparent;
}
.text-main{
font-weight: 100;
color: white;
font-size: 64px;
}
.main-fir{
margin-top: 130px;
margin-left: 200px;
}
.main-sec{
margin-top: 60px;
margin-left: 400px;
}
.bodys{
background: #76ABFB url('../img/digit1.png') no-repeat;
background-size: cover;
height: 1000px;
}
.fir_img{
position: absolute;
z-index: -1;
}