<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/api.css">
    <title>{{title}}</title>
</head>
<body>
<div>
<header>
    <nav class="navbar navbar-light">
        <h1>Api приложения EdudE</h1>
        <div><a href="/" class="main_p">На главную</a></div>
    </nav>
</header>
</div>
<main>
    <div class="api">
        <div >
            <p>
              С помощью библиотеки flask_restful было реализовано получение всей необходимой информации:
            список студентов у класса, классы учителя и ученика, список заданий для каждого класса,
            а так же ресурсы каждого пользователя, такие как имя и фамилия
        </p>
            <p>
              Каждый запрос возвращается либо в виде списка всей необходимой информации,
                либо в виде привычного json формата, зависит от ситуации.
                В самом запросе содержатся объекты различных типов данных: просто текст, массив данных или
                классы
        </p>
        </div>
<!--        <div class="imh"><img src="../static/img/apish.png"></div>-->
    </div>
</main>
</body>
</html>