{% extends "very_base.html" %}
    {% block else_link %}
    <link rel="stylesheet" href="{{ link_css }}">
    {% endblock %}
{% block modules %}
<body>
<header>
    <nav class="navbar navbar-light">
        <a href="/"><img src="{{ link_logo }}" class="logo"></a>
        <a class="prof" href="/profile" style="margin-top: -45px">Профиль</a>
        {% if current_user.is_authenticated %}
            <a class="log_out" href="/logout">
                Выйти
            </a>
        {% endif %}
        {% block head %}{% endblock %}
    </nav>
</header>
    {% block buttons %}{% endblock %}
    <div class="flex_box">
    <table class="table table-borderless tab container" style="margin: 30px 50px auto 10px">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Название</th>
      <th scope="col">Дэдлайн</th>
        <th scope="col">Куда отправлять</th>
        <th scope="col">Подробнее</th>
        <th scope="col">Комментарий учителя</th>
    </tr>
  </thead>
  <tbody>
  {% block tasks %}{% endblock %}
  </tbody>
</table>
{% block study %}
        {% endblock %}
</div>
</body>
{% endblock %}