{% extends "base.html" %}
{% block else_link %}
    <link rel="stylesheet" href="../static/css/table.css">
<link rel="stylesheet" href="../static/css/profs.css">
    {% endblock %}
{% block about_pr %}
<li class="nav-item ab" style="width: auto;">
        <button id="userButton" style="width: auto;background: white; border: none;color: black;border-radius: 50px;padding: 6px 14px;margin-left:10px">
            Скопировать пароль<br>
        <small style="font-size: 9px; margin-left: 6px">Никому не разглашайте данный пароль</small>
        </button>
      </li>
        {% endblock %}
    {% block content %}
<div class="photo">
    <img src="../static/img/desk.jpg">
    <figcaption>Фото профиля</figcaption>
    <h6 class="name_user">Имя пользователя: {{ name }}</h6>
    <h6 class="name_user">Id пользователя: {{ id }}</h6>
    <a href="/edit_profile" class="btn btn_add lis form_btns sv">Изменить</a>
</div>
<div class="class">
        <div class="flex_box">
            <div>
    <table class="table table-borderless tab container" style="
    margin-top: 0px;margin-right: 50px;width: 300px; text-align: left; letter-spacing: 1px; max-height: 400px; overflow: scroll">
       <thead>
    <tr style="color: blue;width: auto">
        <th scope="col">id</th>
        <th scope="col">Класс\предмет</th>
    </tr>
  </thead>
  <tbody>
  {% for classroom in classrooms %}
    <tr style="color: blue; text-align: left">
        <td class="btn_add lis" style="color: blue; text-align: left"><strong>{{ classroom.id }}</strong></td>
        <td class="btn_add lis" style="margin-right: 10px"><a href="/tasks/{{ classroom.id }}">{{ classroom.name }}, {{ classroom.subject }}</a>
        </td>
    </tr>

  {% endfor %}

  </tbody>

</table>
                {% block add_class_to_teacher %}

{% endblock %}
        </div>
        {% block students_of_teacher %}
            {% endblock %}

        </div>

        </div>

<div class=' reques'>
    <div class="point">
        <h2 class="li_of_s">Заявки на классы</h2>
<ul class="list-group list-group-flush">
   {% for invite in invites %}
        <li class="btn_add lis req_li"><br>
    {{ invite.__repr__() }}
            <br><a class="btn btn_add lis form_btns sv" href="/accept_invite/{{invite.id}}">Принять</a>
            <br><a class="btn btn_add lis form_btns sv" href="/refuse_invite/{{invite.id}}">Отклонить</a>
        </li>
   {% endfor %}

</ul>
    </div>
    <a class="btn btn_add lis form_btns" href="/invite" style="width: 200px; margin-left: 45px">Пригласить</a>
     </div>
 <script>
var button = document.getElementById("userButton");
button.addEventListener("click", function (popa){
var copytext = document.createElement("input");
copytext.value = "090909000";
document.body.appendChild(copytext);
copytext.select();
document.execCommand("copy");
document.body.removeChild(copytext);
});
</script>
{% endblock %}