<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/labels.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    {% block link %}{% endblock %}
    <title>{{title}}</title>
</head>
<body>
<div class="bodys">
<header>
    <nav class="navbar navbar-expand-lg navbar-light logo">
        <div><a href="/"><img src="../static/img/logo.png"></a></div>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ab">
        <a class="" href="#about">О проекте</a>
      </li>
      <li class="nav-item ab">
        <a class="" href="#">Api сайта</a>
      </li>
    </ul>

    <span class="navbar-text">
        {% if current_user.is_authenticated %}
            <p>
                <a class="log_up_btn shadow-lg" href="/dashboard">Профиль</a>
                <a class="log_up_btn shadow-lg" href="/logout">Выйти</a>
                </p>
        {% else %}
        {% block head %}{% endblock %}
        {% endif %}
    </span>
  </div>
</nav>
</header>
<main role="main">
    {% block content %}
    {% endblock %}
        </main>
</div>
</body>
{% block pages %}
{% endblock %}
</html>