<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>{{title}}</title>
</head>
<body class="bodys">
<header>
    <nav class="navbar navbar-light">
        <img src="../static/img/logo.png" class="logo">
<!--        {% if current_user.is_authenticated %}-->
<!--            <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>-->
<!--        {% else %}-->

            <p>
            <a class="log_up_btn shadow-lg" href="/register">Зарегистрироваться</a>
            <a class="log_up_btn shadow-lg" href="/login">Войти</a>
            </p>
<!--        {% endif %}-->
    </nav>
</header>

<main role="main" class="">
<!--    {% block content %}-->

        <div>
        <h1 class="text-main main-fir">Python TGK - Edu</h1>
    </div>
    <div>
        <h1 class="text-main main-sec">Образовательный портал</h1>
    </div>
<!--    {% endblock %}&ndash;&gt;-->
        </main>
</body>
</html>