{% extends "base_dashboard.html" %}
{% block tasks %}
<tr>
      <th scope="row">1</th>
      <td><p>Mark</p></td>
        <td>2020-08-09</td>
      <td><p>Mark</p></td>
        <td><p>Mark</p></td>
    </tr>
{% endblock %}

{% block study %}
<thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Класс\предмет</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>1</td>
      <td><a href="#">10А математика</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="#">10А информатика</a></td>
    </tr>

  </tbody>
{% endblock %}