{% extends "base_dashboard.html" %}
{% block buttons %}

<div style="display:flex;">
<div class="container add">
    <div>
    <a href="/new_task" class="save add_a"> Добавить задание </a>
    <!--передаем айди учителя и класса-->
    </div>
</div>
</div>
{% endblock %}
{% block tasks %}
    <tr>
      <th scope="row">1</th>
      <td><textarea wrap='soft'>Mark</textarea></td>
        <td><input type="date" value="2020-08-09" style="border: none"></td>
      <td><textarea wrap='soft'>Mark</textarea></td>
        <td><textarea wrap='soft'>Mark</textarea></td>
        <td><a href="/delete_task/1" class="delete"> Удалить</a></td>
    </tr>
{% endblock %}

{% block study %}
<thead>
    <tr>
        <th scope="col">Класс\предмет</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="#">10А математика</a></td>
    </tr>
    <tr>
        <td><a href="#">10А информатика</a></td>
    </tr>

  </tbody>
{% endblock %}