{% extends "base_dashboard.html" %}
    {% block else_link %}
    <link rel="stylesheet" href="{{ link_css }}">
<link rel="stylesheet" href="{{ link_css1 }}">
<link rel="stylesheet" href="{{ link_css2 }}">
    {% endblock %}
{% block buttons %}
<div class='flx'>
<div class="container add">
    <div>
    <a href="/new_task/{{ classroom_id }}" class="save add_a"> Добавить задание </a>
    <!--передаем айди учителя и класса-->
    </div>
</div>
<div class="container add d3">
    <div>
    <a href="/new_student/{{ classroom_id }}" class="save add_a"> Добавить ученика </a>
    <!--передаем айди учителя и класса-->
    </div>
</div>
</div>
{% endblock %}
{% block tasks %}
    {% for task in tasks %}
    <tr>
      <th scope="row">{{ task.id }}</th>
      <td><p>{{ task.name }}</p></td>
        <td><p>{{ task.deadline }}</p></td>
      <td><p>{{ task.description }}</p></td>
        <td><p>{{ task.link }}</p></td>
        {% if is_teacher %}
        <td><a href="/kek/{{ task.id }}" class="delete"> Удалить</a></td>
        {% else %}
        <td><a href="/kek/{{ task.id }}" class="delete"> Отправить</a></td>
        {% endif %}
    </tr>
    {% endfor %}
{% endblock %}

{% block study %}
  <thead>
    <tr>
      <th scope="col">#</th>
        <th scope="col">ФИО ученика</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><p>Timergalin Timur</p></td>

        <td><a href="/delete_task/1" class="delete"> Удалить</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><p>Timergalin Timur</p></td>

        <td><a href="/delete_task/1" class="delete"> Удалить</a></td>
    </tr>

  </tbody>
{% endblock %}