{% extends "base_dashboard.html" %}
    {% block else_link %}
    <link rel="stylesheet" href="{{ link_css }}">
<link rel="stylesheet" href="{{ link_css1 }}">
<link rel="stylesheet" href="{{ link_css2 }}">
    {% endblock %}
{% block buttons %}
{% if is_teacher %}
<div class='flx'>
<div class="container add" style="margin: auto">
    <div>
    <a href="/new_task/{{ classroom_id }}" class="save add_a" > Добавить задание </a>
    </div>
</div>
    <div class="container add" style="margin: auto">
    <div >
    <a href="/edit_classroom/{{ classroom_id }}" class="save add_a" > Редактировать </a>
    </div>
</div>
<div class="container add d3" style="margin: auto">
    <div>
    <a href="/new_student/{{ classroom_id }}" class="save add_a" > Добавить ученика </a>
    </div>
</div>
    <div class="container add d3" style="margin: auto">
    <div>
    <a href="/delete_classroom/{{ classroom_id }}" class="save add_a" > Удалить класс </a>
    </div>
</div>
</div>
{% endif %}
{% endblock %}
{% block tasks %}
    {% for task in tasks %}
    <tr>
      <th scope="row">{{ task.id }}</th>
      <td><p>{{ task.name }}</p></td>
        <td><p>{{ task.deadline }}</p></td>
      <td><p>{{ task.description }}</p></td>
        <td><p>{{ task.link }}</p></td>
        {% if is_teacher %}
        <td><a href="/kek/{{ task.id }}" class="delete"> Удалить</a></td>
        {% else %}
        <td><a href="/send_task/{{ task.id }}" class="delete"> Отправить</a></td>
        {% endif %}
    </tr>
    {% endfor %}
{% endblock %}

{% block study %}
{% if is_teacher %}
<table class="table table-borderless tab container" style="width: 400px;">
  <thead>
    <tr>
      <th scope="col">#</th>
        <th scope="col">ФИО ученика</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <th scope="row">{{ student.id }}</th>
      <td><p>{{ student.surname}} {{ student.name }}</p></td>

        <td><a href="/delete_student/{{ classroom_id }}/{{ student.id }}" class="delete">Удалить</a></td>
    </tr>
    {% endfor %}
  </tbody>
    </table>
{% endif %}
{% endblock %}