{% extends "base.html" %}
{% block else_link %}
    <link rel="stylesheet" href="../static/css/table.css">
    <link rel="stylesheet" href="../static/css/profs.css">
<link rel="stylesheet" href="../static/css/prof_more.css">
<link rel="stylesheet" href="../static/css/password.css">
    {% endblock %}
{% block modules %}
<style>
    body{background-color: #65A2CE;
    color: white;
    }
    code{
    color: #F9A7CE;
    opacity: 0.8;
    margin-bottom: 20px
    }
    .elem{
    margin-bottom: 50px
    }
    h2{
    color: #F9A7CE;
    font-weight: bold;
    border-bottom: 3px dotted  #F9A7CE;
    margin: 18px 0;
    padding-bottom: 9px;
    }
    h3{
    color: #A8C7A8;
    padding: 15px 0 0 0
    }
    .doc{
    margin-bottom: 100px;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light logo">
        <div><a href="/"><img src="../static/img/logo.png"></a></div>
    <ul class="navbar-nav mr-auto">
        {% block about_pr %}
<li class="nav-item ab">
        <button id="userButton" class='btn_copy'>
            Скопировать пароль<br>
        <small class='sm_never'>Никому не разглашайте данный пароль</small>
        </button>
      </li>
        {% endblock %}
    </ul>
    <span class="navbar-text">
        {% if current_user.is_authenticated %}
            <p>
                <a class="log_up_btn shadow-lg log_out" href="/profile">Профиль</a>
                <a class="log_up_btn shadow-lg log_out" href="/logout">Выйти</a>
                </p>
        {% else %}
        <p>
                <a class="log_up_btn shadow-lg log_out" href="/profile">Главная</a>
                </p>
        {% endif %}
    </span>
  </div>
</nav>
<div class="container doc">
    <div class="elem">
    <h1>API 1.0: Документация</h1>
    <p>API - это мощный инструмент, с помощью которого пользователь может облегчить себе работу</p>
    </div>

    <div class="elem">
    <h2>Основная информация</h2>
    <p>Формат запроса: JSON</p>
    <p>Формат ответа: JSON</p>
    <p>Вид запроса: "http://edude.ru/api/1.0/модуль/аргументы"></p>
    <p>Все аргументы записываются через &</p>
    <p>О модулях подробнее ниже</p>
    </div>

    <div class="elem">
    <h2>teachers</h2>
    <p>Аргументы: нет</p>
    <p>Методы: GET</p>
    <h3>GET</h3>
    <p>При отправке get запроса вы получите список всех учителей, которые пользуются нашим ресурсом</p>
    <h4>Формат ответа</h4>
    <code>
        {"teachers":
        [
          {
          "id": 1,
          "surname": "Jack",
          "name": "Smith"
        }
      ]
    }
    </code>
    </div>

    <div class="elem">
    <h2>teacher</h2>
    <p>Аргументы: teacher_id (GET) или teacher_id&teacher_password (PUT, DELETE)</p>
    <p>Методы: GET, PUT, DELETE</p>
    <h3>GET</h3>
    <p>При отправке get запроса вы получите информацию об искомом учителе</p>
    <h4>Фомат ответа</h4>
    <code>
        {"teacher":
      {
        "id": 1,
        "surname": "Jack",
        "name": "Smith"
      }
    }
    </code>
    <h3>PUT</h3>
    <p>При отправке put запроса вы измените в своем профиле нужные вам поля</p>
    <p>Этот запрос требует от вас пароля. Его вы можете получить на странице документации</p>
    <h4>Формат запроса</h4>
    <p>Все поля являются опциональными</p>
    <code>
        {"name": "John",
     "surname": "Brown",
     "email": "example@ex.com"
    }
    </code>
    <h4>Формат ответа</h4>
    <code>
        Ответ представляет из себя запись вида "success": переданные вами параметры
    </code>
    <h3>DELETE</h3>
    <p>При отправке delete запроса вы удалите свой аккаунт.</p>
    <p>Этот запрос требует от вас пароля. Его вы можете получить на странице документации</p>
    <h4>Форма ответа</h4>
    <code>
        {"success": "OK"}
    </code>
    </div>

    <div class="elem">
    <h2>students</h2>
    <p>Аргументы: нет</p>
    <p>Поддерживаемые методы: GET</p>
    <h3>GET</h3>
    <p>При отправке get запроса вы получите список всех учеников, которые пользуются нашим ресурсом</p>
    <h4>Формат ответа</h4>
    <code>
        {"students":
        [
          {
          "id": 1,
          "surname": "Jack",
          "name": "Smith"
        }
      ]
    }
    </code>
    <h2>student</h2>
    <p>Аргументы: student_id (GET) или student_id&student_password (PUT, DELETE)</p>
    <p>Поддерживаемые методы: GET, PUT, DELETE</p>
    <h3>GET</h3>
    <p>При отправке get запроса вы получите информацию об искомом учителе</p>
    <h4>Формат ответа</h4>
    <code>
        {"student":
      {
        "id": 1,
        "surname": "Jack",
        "name": "Smith"
      }
    }
    </code>
    <h3>PUT</h3>
    <p>При отправке put запроса вы измените в своем профиле нужные вам поля</p>
    <p>Этот запрос требует от вас пароля. Его вы можете получить на странице документации</p>
    <h4>Формат запроса</h4>
    <p>Все поля являются опциональными</p>
    <code>
        {"name": "John",
     "surname": "Brown",
     "email": "example@ex.com"
    }
    </code>
    <h4>Формат ответа</h4>
    <p>Ответ представляет из себя запись вида "success": переданные вами параметры</p>
    <h3>DELETE</h3>
    <p>При отправке delete запроса вы удалите свой аккаунт.</p>
    <p>Этот запрос требует от вас пароля. Его вы можете получить на странице документации</p>
    <h4>Формат ответа</h4>
    <code>
        {"success": "OK"}
    </code>
    </div>

    <div class="elem">
    <h2>classrooms</h2>
    <p>Аргументы: teacher_id&teacher_password</p>
    <p>Поддерживаемые методы: GET, POST</p>
    <h3>GET</h3>
    <p>При отправке get запроса вы получите список всех созданных вами классов</p>
    <p>Этот запрос требует от вас пароля. Его вы можете получить на странице документации</p>
    <h4>Формат ответа</h4>
    <code>
        {"classrooms":
      [
        {"id": 1,
         "name": "9E, maths"
        }
      ]
    }
    </code>
    <h3>POST</h3>
    <p>При отправке post запроса вы создадите новый класс</p>
    <p>Этот запрос требует от вас пароля. Его вы можете получить на странице документации</p>
    <h4>Формат запроса</h4>
    <p>Все поля являются обязательными</p>
    <code>
        {
      "name": "9E, physics"
    }
    </code>
    <h4>Формат ответа</h4>
    <p>Ответ представляет из себя запись вида "success": переданные вами параметры</p>
    <h2>classroom</h2>
    <p>Аргументы: teacher_id&teacher_password&class_room_id
    </p>
    <p>Поддерживаемые методы: GET, PUT, DELETE
    </p>
    <h3>GET</h3>
    <p>При отправке get запроса вы получите информацию о вашем классе
    </p>
        <p>Этот запрос требует от вас пароля. Его вы можете получить на странице документации</p>
    <h4>Формат ответа</h4>
    <code>
        {
     "classroom":
      {"id": 1,
       "name": "9E"
      }
    }
    </code>
    <h3>PUT</h3>
    <p>При отправке put запроса вы меняете нужные вам параметры класса
    </p>
        <p>Этот запрос требует от вас пароля. Его вы можете получить на странице документации
        </p>
    <h4>Формат запроса</h4>
    <p>Все поля являются опциональными
    </p>
    <code>
        {
      "name": "9D"
    }
    </code>
    <h4>Формат ответа</h4>
    <p>Ответ представляет из себя запись вида "success": переданные вами параметры
    </p>
    <h3>DELETE</h3>
    <p>При отправке delete запроса вы удаляете нужный вам класс
    </p>
    <p>Этот запрос требует от вас пароля. Его вы можете получить на странице документации
        </p>
    <h4>Формат ответа</h4>
    <code>
        {
      "success": "OK"
    }
    </code>
    </div>

    <div class="elem">
    <h2>tasks</h2>
    <p>Аргументы: teacher_id&teacher_password
    </p>
    <p>Поддерживаемые методы: GET, POST
    </p>
    <h3>GET</h3>
    <p>При отправке get запроса вы получите список всех активных задач всех ваших классов
    </p>
    <p>Этот запрос требует от вас пароля. Его вы можете получить на странице документации
        </p>
    <h4>Формат ответа</h4>
    <code>
        {"tasks":
      {
        "9E, computer science":
            [
              {
               "id": 23,
               "name": "Python: decorators"
              }
            ]
      }
    }
    </code>
    <h3>POST</h3>
    <p>При отправке post запроса вы создаете новую задачу
    </p>
   <p>Этот запрос требует от вас пароля. Его вы можете получить на странице документации
        </p>
    <h4>Формат запроса</h4>
    <p>Все поля являются обязательными
    </p>
    <code>
        {"name": "Python, decorators",
     "description": "Write a logging decorator on python",
     "deadline":  "2020-05-01 23:59:59",
     "link": "teacher@ex.ru",
     "class_room_id":  3
    }
    </code>
    <h4>Формат ответа</h4>
    <p>Ответ представляет из себя запись вида "success": переданные вами параметры
    </p>
    </div>

    <div class="elem">
    <h2>task</h2>
    <p>Аргументы: teacher_id&teacher_password&task_id
    </p>
    <p>Поддерживаемые методы: GET, PUT, DELETE
    </p>
    <h3>GET</h3>
    <p>При отправке get запроса вы получите информацию о конкретной активной задаче
    </p>
    <p>Этот запрос требует от вас пароля. Его вы можете получить на странице документации
        </p>
    <h4>Формат ответа</h4>
    <code>
        {"task":
      {
        "id": 23,
        "name": "python, numpy"
      }
    }
    </code>
    <h3>PUT</h3>
    <p>При отправке put запроса вы сможет поменять нужные вам параметры задачи
    </p>
    <p>Этот запрос требует от вас пароля. Его вы можете получить на странице документации
        </p>
    <h4>Формат запроса</h4>
    <p>Все поля являются опциональными
    </p>
    <code>
        {"name": "python, numpy",
     "description":  "Send your essay about numpy",
     "deadline": "2020-05-02 00:00:00",
     "link": "teacher1@ex.com"}
    </code>
    <h4>Формат ответа</h4>
    Ответ представляет из себя запись вида "success": переданные вами параметры
    <h3>DELETE</h3>
    <p>При отправке delete запроса вы удалите нужную вам задачу
    </p>
    <p>Этот запрос требует от вас пароля. Его вы можете получить на странице документации
        </p>
    <h4>Формат ответа</h4>
    <code>
        {"success":  "OK"}
    </code>
    </div>
</div>
 <script>
var button = document.getElementById("userButton");
button.addEventListener("click", function (popa){
var copytext = document.createElement("input");
copytext.value = "{{ user_key }}";
document.body.appendChild(copytext);
copytext.select();
document.execCommand("copy");
document.body.removeChild(copytext);
});
</script>
</body>
{% endblock %}

