{% extends "base.html" %}
{% block else_link %}
<link rel="stylesheet" href="../static/css/log_up.css">
<link rel="stylesheet" href="../static/css/log__in.css">
{% endblock %}

{% block content %}

<div class="form-div">
 <form action="" method="post">
     {{ form.hidden_tag() }}
    {{ form.csrf_token }}
        <fieldset>
          <legend>Редактор задания</legend>

            {{ form.new_name.label }}<br>
        {{ form.new_name(type="text", placeholder=task.name, value=task.name) }}<br>
        {% for error in form.new_name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

            {{ form.new_description.label }}<br>
        {{ form.new_description(type="text",  value=task.description ) }}<br>
        {% for error in form.new_description.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

            {{ form.new_deadline.label }}<br>
      {{ form.new_deadline(class="half-width", type='datetime-local' ,value=task.deadline ) }}<br>
      {% for error in form.new_deadline.errors %}
      <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
          {{ form.new_link.label }}<br>
      {{ form.new_link(class="half-width", type='email', value=task.link ) }}<br>
      {% for error in form.new_link.errors %}
      <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
            <div>{{ message }}</div>

        </fieldset>
        <div class="buttons">
        {{ form.submit(type="submit") }}<br>
        {% for error in form.submit.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        </div>
      </form>
</div>
{% endblock %}