{% extends "base.html" %}
{% block else_link %}
<link rel="stylesheet" href="../static/css/log_up.css">
<link rel="stylesheet" href="../static/css/log__in.css">
{% endblock %}

{% block content %}

<div class="form-div">
 <form action="" method="post">
     {{ form.hidden_tag() }}
    {{ form.csrf_token }}
        <fieldset>
          <legend>Редактор класса</legend>

            {{ form.new_name.label }}<br>
        {{ form.new_name(type="text", placeholder=classroom.name, value=classroom.name) }}<br>
        {% for error in form.new_name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

            {{ form.new_subject.label }}<br>
        {{ form.new_subject(type="text", placeholder=classroom.subject, value=classroom.subject ) }}<br>
        {% for error in form.new_subject.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
            <div>{{ message }}</div>

        </fieldset>
        <div class="buttons">
        {{ form.submit(type="submit") }}<br>
        {% for error in form.submit.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        </div>
      </form>
</div>
{% endblock %}