{% extends "base.html" %}
{% block else_link %}
<link rel="stylesheet" href="../static/css/log_up.css">
<link rel="stylesheet" href="../static/css/log__in.css">
{% endblock %}

{% block content %}

<div class="form-div">
 <form action="" method="post">
     {{ form.hidden_tag() }}
    {{ form.csrf_token }}
        <fieldset>
          <legend>Приглашение</legend>

            {{ form.id.label }}<br>
        {{ form.id(placeholder="0", type="text") }}<br>
        {% for error in form.id.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

        </fieldset>
        <div class="buttons">
        {{ form.submit(type="submit") }}<br>
        {% for error in form.submit.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        </div>
      </form>
</div>
{% endblock %}