{% extends "base.html" %}
{% block link %}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
{% block head %}
    <p>
    <a class="log_up_btn shadow-lg" href="/register">Зарегистрироваться</a>
    <a class="log_up_btn shadow-lg" href="/login">Войти</a>
    </p>
{% endblock %}
{% block content %}
    <div>
        <h1 class="text-main main-fir">Python TGK - Edu</h1>
    </div>
    <div>
        <h1 class="text-main main-sec">Образовательный портал</h1>
    </div>
{% endblock %}