{% extends "base.html" %}
{% block else_link %}
<link rel="stylesheet" href="../static/css/main_page.css">
<link rel="stylesheet" href="../static/css/about.css">
{% endblock %}
{% block about_pr %}
      <li class="nav-item ab">
        <a class="" href="#about">О проекте</a>
      </li>
        {% endblock %}
{% block head %}
            <p>
                <a class="log_up_btn shadow-lg" href="/register">Зарегистрироваться</a>
                <a class="log_up_btn shadow-lg" href="/login">Войти</a>
                </p>
{% endblock %}
{% block content %}
    <div>
        <label><h1 class="text-main main-fir">Python TGK - Edu</h1></label>
    </div>
    <div>
        <h1 class="text-main main-sec">Образовательный портал</h1>
    </div>
{% endblock %}
{% block pages %}
<div class="project" >
    <a name="about"></a>
    <div class=" what">О проекте</div><br>
    <div class="persons">
    <div class="item">
        <div class="flex">
        <img src="../static/img/student.png">
        <h4>После авторизации <br>ученик может:</h4>
        </div>
        <ul>
            <li>Посмотреть список классов в профиле</li>
            <li>Зайти в каждый из них и посмотреть список заданий по предмету</li>
            <li>Удалять и изменять информацию в проыиле и в классах</li>
        </ul>
    </div>

    <div class="item">
        <div class="flex"><img src="../static/img/teacher.png">
        <h4>После авторизации<br> учитель может:</h4></div>
        <ul>
            <li>Увидеть список своих классов в профиле</li>
            <li>Создавать новые классы с добавлением туда учеников</li>
            <li>Давать домашние задания каждому классу вместе с необходимыми ресурсами</li>
            <li>Изменять, удалять написанные задания и списки классов</li>
        </ul>
    </div>
    </div>
</div>
{% endblock %}