{% extends "base.html" %}
{% block else_link %}

<link rel="stylesheet" href="../static/css/log__in.css.css">
<link rel="stylesheet" href="../static/css/new_task.css">
<link rel="stylesheet" href="../static/css/after_log.css">
{% endblock %}
{% block content %}
  <body>
    <main>
      <form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <fieldset id="form">
        <legend>Добавление задания</legend>
        <label for="name">Название задания</label><br>
        <input id="name" name="name" placeholder="Введите тут..." class="two-third-width">
        <label for="description" id="cur_label">Описание задания</label><br>
        <textarea id="description" name="description" placeholder="Введите тут..." class="two-third-width"></textarea>
        <label for="deadline" id="label">Сдать до</label>
        <input type="datetime-local" id="deadline" name="deadline" class="half-width" style="width:250px;">
        <label for="link">Куда отправлять</label>
        <input type="email" id="link" name="link" value="{{ link }}" class="half-width" style="width:250px;">
    </fieldset>
    <div class="buttons">
        <button type="submit">Создать</button>
    </div>
    <input type="radio" name="r1" id="r1" onclick="on_normal_click()"><label for="r1" >Обычное задание</label><br>
    <input type="radio" name="r2" id="r2" onclick="on_form_click()"><label for="r2">Google форма</label>
</form>
    </main>
    <footer class="page-footer"></footer>
  </body>
<script>
var normal_radio = document.getElementById('r1');
var form_radio = document.getElementById('r2');
normal_radio.checked = true;
console.log('init complete');

function on_form_click() {
    console.log('on_form_click started');
    var task = document.getElementById('description');
    var label = document.getElementById('label');
    var cur_label = document.getElementById('cur_label');
    var form = document.getElementById('form');
    task.remove();
    var link_input = document.createElement('input');
    link_input.classList.add('two-third-width');
    link_input.id = 'description';
    link_input.name = 'form_link';
    link_input.maxLength = 128;
    link_input.placeholder = 'Введите тут...';
    form.appendChild(link_input);
    form.insertBefore(link_input, label);
    cur_label.innerText = 'Ссылка на Google форму';
    normal_radio.checked = false;
}

function on_normal_click() {
    console.log('on_normal_click started');
    var task = document.getElementById('description');
    var label = document.getElementById('label');
    var cur_label = document.getElementById('cur_label');
    var form = document.getElementById('form');
    task.remove();
    var desc_input = document.createElement('textarea');
    desc_input.classList.add('two-third-width');
    desc_input.id = 'description';
    desc_input.name = 'description';
    desc_input.placeholder = 'Введите тут...';
    form.appendChild(desc_input);
    form.insertBefore(desc_input, label);
    cur_label.innerText = 'Описание задания'
    form_radio.checked = false;
}
</script>
{% endblock %}