<!DOCTYPE html>
<html lang="ru">
  <head>
     <title>[]</title>
     <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
     <link rel="stylesheet" href="../static/css/new_task.css">
  </head>
  <body>
    <main>
      <form action="" method="post">
        <fieldset>
          <legend>Добавление задания</legend>
          <label for="title">Название задания</label>
            <textarea id="title" placeholder="Введите тут..." class="two-third-width"></textarea>
          <label for="tel">Что делать</label>
          <textarea id="tel" name="work" placeholder="Заполните здесь..." class="two-third-width"></textarea>
          <div>
            <label for="class">Выберите класс</label>
            <select class="custom-select two-third-width" id="class">
            <option>Для какого именно</option>
            {% for %}
            <option value="1">10А</option>
            <option value="2">11Б</option>
            <option value="3">9Д</option>
          </select>
          </div>
          <div class="half-width">
            <label for="date">Дэдлайн</label>
            <input type="date" id="date" name="date">
          </div>
          <div class="half-width">
            <label for="url">Куда отправлять</label>
            <input type="url" id="url" name="url">
          </div>

        </fieldset>
        <div class="buttons">
          <input type="submit" value="Отправить">
        </div>
      </form>
    </main>
    <footer class="page-footer"></footer>
  </body>
</html>