{% extends "base_profile.html" %}
{% block about_pr %}
<li class="nav-item ab" style="width: auto;">
        <button id="userButton" style="width: auto;background: white; border: none;color: black;border-radius: 50px;padding: 6px 14px;margin-left:10px">
            Скопировать пароль<br>
        <small style="font-size: 9px; margin-left: 6px">Никому не разглашайте данный пароль</small>
        </button>
      </li>
        {% endblock %}
{% block add_class_to_teacher %}
    <textarea style="display: none" id="cont">90909090909090</textarea>
    <div class="class" >
        <h2>Добавить класс</h2>
<form class="forma" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

  <div class="form-group">
       {{ form.name_of_class.label }}
      {{ form.name_of_class(type="text", class="form-control") }}
    <small class="sml">Например, 10А</small>
      {% for error in form.name_of_class.errors %}
      <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
  </div>
  <div class="form-group">
      {{ form.subj.label }}
      {{ form.subj(type="text", class="form-control") }}
      {% for error in form.subj.errors %}
      <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
  </div>
    {{ form.submit(type="submit", class="btn btn_add lis form_btns sv") }}
    {% for error in form.submit.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    <a class="btn btn_add lis form_btns" href="/">Добавить учеников</a>
    {{message}}

</form>
    </div>
 <script>
var button = document.getElementById("userButton");
button.addEventListener("click", function (popa){
var copytext = document.createElement("input");
copytext.value = {{ key }};
document.body.appendChild(copytext);
copytext.select();
document.execCommand("copy");
document.body.removeChild(copytext);
});
</script>
         {% endblock %}
