{% extends "base.html" %}
{% block else_link %}
    <link rel="stylesheet" href="{{ link_css }}">
<link rel="stylesheet" href="{{ link_css1 }}">
<link rel="stylesheet" href="{{ link_css2 }}">
    {% endblock %}
{% block content%}
<style>
.names{
max-width: 300px;
overflow:scroll;
word-wrap: break-word;
}
td::-webkit-scrollbar { width: 0; }
.t2{
width: 400px;
}
.delete{
margin-right: 20px
}
.div_auto{
margin: auto
}
</style>
<div class="flex_box">
    <table class="table table-borderless tab container" style="margin: 30px 50px auto 10px">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Ученик</th>
      <th scope="col">Наличие задания</th>
        <th scope="col">Подробнее</th>
        <th scope="col">Оставить комментарий</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <td>
      <th scope="row">{{ student.id }}</th>
      <td><p>{{ student.surname}} {{ student.name }}</p></td>
        {% if student.id in students_success_homework %}
    <td><p>Выполнил</p></td>
    <td><div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Подробнее
        </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for linked in solutions[student.id] %}
        <a class="dropdown-item" href="/uploads/{{ linked }}/{{ teacher_id }}">Фото 1</a>
        {% endfor %}
    </div>
    </div>

    </td>
        {% else %}
        <td><p>Не выполнил</p></td>
        <td><p></p></td>
        {% endif %}
        <td><form action="" method="post">
            <input name="{{ student.id }}" placeholder="Комментарий">
            <input type="submit"/>
            </form></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}