  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Чат</title>
  </head>
  <body>

  <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>


    <form action="" id="message" method="POST">
      <input type="text" class="message" id="content" placeholder="messages"/>
      <input type="submit"/>
    <input type="text" id='chat_id_' value='{{ chat_id }}' style="display: none">
    <input type="text" id='user_id_' value='{{ user_id }}' style="display: none">
    <input type="text" id='user_name_' value='{{ user_name }}' style="display: none">
    </form>
     <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var user_name = { user_name };
        var chat_id = { chat_id };
        var user_id = { user_id };
      $(document).ready(function(){
        namespace = '/test'
        var socket = io(namespace);

        socket.on('connect', function(msg) {
          socket.emit('my response', {data: 'User has connected!'});
        });

        socket.on('my response', function(msg) {
                $('#message').append('<br>' + $('<div/>').text(msg.user_name + ': ' + msg.data).html());
            });

        $('form#message').submit(function(event) {
            socket.emit('message event', {data: $('#content').val(), 'user_name': $('#user_name_').val(), 'chat_id': $('#chat_id_').val(), 'user_id': $('#user_id_').val()});
            return false;
        });
      });
    </script>
  </body>
  </html>