  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Чат</title>
  </head>
  <body>

  <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>


    <form action="" id="message" method="POST">
      <input type="text" class="message" id="content" placeholder="messages"/>
      <input type="submit"/>
    </form>
     <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        namespace = '/test'
        var socket = io(namespace);
        var user_name = { user_name };
        var user_id = { user_id };
        var chat_id = { chat_id };

        socket.on('connect', function(msg) {
          socket.emit('connect', {data: 'User has connected!'});
        });

        socket.on('my response', function(msg) {
                $('#message').append('<br>' + $('<div/>').text('Received #' + ': ' + msg.data).html());
            });

        socket.on('message event', function(msg) {
                $('#message_holder').append('<br>' + $('<div/>').text({ user_name } + ': ' + msg.data).html());
            });

        $('form#message').submit(function(event) {
            socket.emit('my_broadcast_event', {data: $('#content').val()});
            return false;
        });
      });
    </script>
  </body>
  </html>